@model AccountManager.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container-fluid">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Enter your email </strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <fieldset>
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img"
                                     src="~/Images/logo.jpg" alt="">
                            </div>
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                            @*@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })*@
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span id="forgotPasswordSpan" class="input-group-addon" onclick="ForgotPassword()">
                                            <i class="glyphicon glyphicon-send" style="color:Highlight"></i>
                                        </span>
                                        <input id="forgotPasswordInput" type="submit" class="btn btn-primary btn-block form-control" value="Email Link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="panel-footer ">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Css {
    <link rel="Stylesheet" href="@Href("~/Content/app.account.css")" />
}