@model AccountManager.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container-fluid">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Change Password </strong>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <fieldset>
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img"
                                     src="~/Images/logo.jpg" alt="">
                            </div>
                        </div>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "old password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "new password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confirm new password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span id="changePasswordSpan" class="input-group-addon" onclick="ChangePassword()">
                                            <i class="glyphicon glyphicon-ok-circle" style="color:Highlight"></i>
                                        </span>
                                        <input id="changePasswordInput" type="submit" class="btn btn-primary btn-block form-control" value="Change password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }

            </div>
            <div class="panel-footer ">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Css {
    <link rel="Stylesheet" href="@Href("~/Content/app.manage.css")" />
}